<!-- Hero Section -->
<section id="hero" class="hero section accent-background">

    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
            <img src="~/img/hero-carousel/hero-carousel-1.jpg" alt="">
            <div class="carousel-container">
                <h1>AgroComga xush kelibsiz</h1>
                <p>Bug‘doy yetishtirish jarayonida o‘simlikni kasalliklar, zararkunandalar va noqulay iqlim sharoitlaridan himoya qilish hosildorlikni oshirish va oziq-ovqat xavfsizligini ta'minlash uchun muhimdir.</p>
                <a href="#featured-services" class="btn-get-started">Buyurtma berish</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <img src="~/img/hero-carousel/hero-carousel-2.jpg" alt="">
            <div class="carousel-container">
                <h1>Bizda Paxta Himoyasi ham Mavjud</h1>
                <p> Paxta dunyodagi eng muhim qishloq xo‘jalik ekinlaridan biri bo‘lib, kiyim-kechak, yog‘, va boshqa sanoat mahsulotlarini ishlab chiqarishda qo‘llaniladi.</p>
                <a href="#featured-services" class="btn-get-started">Buyurtma berish</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <img src="~/img/hero-carousel/hero-carousel-3.jpg" alt="">
            <div class="carousel-container">
                <h1>AgroComning Makkajo‘xorini Himoya Qilish Bo‘yicha Yechimlari</h1>
                <p>Makkajo‘xori asosan zamburug‘li kasalliklar (masalan, barg kuyishi, ildiz chirishi) va bakterial infeksiyalarga duchor bo‘ladi. AgroCom ushbu muammolarga qarshi kurashishda yordam beradi.</p>
                <a href="#featured-services" class="btn-get-started">Buyurtma berish</a>
            </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

    </div>

</section><!-- /Hero Section -->
<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-activity icon"></i></div>
                    <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                    <h4><a href="" class="stretched-link">Sed ut perspici</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                    <h4><a href="" class="stretched-link">Magni Dolores</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                    <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Featured Services Section -->
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Biz haqimizda</h2>
        <p>AgroCom – qishloq xo'jaligi sohasidagi innovatsiyalarni yaratish va ilg'or texnologiyalarni qo'llash orqali dehqonchilik va agrar sektorda rivojlanishni qo'llab-quvvatlaydigan kompaniyadir.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                <img src="~/img/about.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                <h3> Bizning maqsadimiz – barqaror va samarali qishloq xo'jaligi amaliyotlarini yaratish, fermerlarga sifatli mahsulotlar yetkazib berish va ularning biznesini rivojlantirishdir.</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Fermerlarga sifatli mahsulotlar yetkazib berish va ularning biznesini rivojlantirishdir.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Fermerlarga sifatli mahsulotlar yetkazib berish va ularning biznesini rivojlantirishdir.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Fermerlarga sifatli mahsulotlar yetkazib berish va ularning biznesini rivojlantirishdir.</span></li>
                </ul>

            </div>
        </div>

    </div>

</section><!-- /About Section -->
<!-- Why Us Section -->
<section id="why-us" class="why-us section">

    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="100">
                <span>01</span>
                <h4>Lorem Ipsum</h4>
                <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="200">
                <span>02</span>
                <h4>Repellat Nihil</h4>
                <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="300">
                <span>03</span>
                <h4> Ad ad velit qui</h4>
                <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">
                <span>04</span>
                <h4>Repellendus molestiae</h4>
                <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">
                <span>05</span>
                <h4>Sapiente Magnam</h4>
                <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="600">
                <span>06</span>
                <h4>Facilis Impedit</h4>
                <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
            </div><!-- End Card Item -->

        </div>

    </div>

</section><!-- /Why Us Section -->

<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Bizning Maxsulotlarimiz</h2>
        <p>Zararkunanda yoki kasallikni aniqlang va unga qarshi maxsus mo‘ljallangan dorini tanlang. Har bir dorining qo‘llanish sohasi ko‘rsatilgan bo‘ladi</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Barchasi</li>
                <li data-filter=".filter-app">Maxsulot1</li>
                <li data-filter=".filter-product">Maxsulot2</li>
                <li data-filter=".filter-branding">Maxsulot3</li>
                <li data-filter=".filter-books">Maxsulot4</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Vertimek</a></h4>
                            <p>O'rgimchak kenjasiga qarshi samarali.</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Apollo</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Topaz</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Topaz</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Topaz</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox">
                            <img src="~/img/portfolio/product-2.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Roundup</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div>
                <!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Maxsulot</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Roundup</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Roundup</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Product</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Roundup</a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                    <div class="portfolio-content h-100">
                        <a href="~/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html" title="More Details">Roundup </a></h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="portfolio-details.html" class="btn btn-primary mt-2">Batafsil</a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section><!-- /Portfolio Section -->

<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Kontakt</h2>
        <p>Agar savollaringiz yoki takliflaringiz bo'lsa, biz bilan bog'laning. Yordam berishga tayyormiz!</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-5">

                <div class="info-wrap">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>Amir Temur ko'chasi, Toshkent</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Telefon</h3>
                            <a href="tel:+998883812595"><p>+998883812595</p></a>

                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email</h3>
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shaxzod.ruziyev.95@mail.ru&su=Salom&body=Bu xabar matni" target="_blank">Shaxzod Ruziyev</a>
                        </div>
                    </div><!-- End Info Item -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6220.758235376395!2d69.240073!3d41.312016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aefcfab054cf35%3A0x3f50359d0a20d88a!2sToshkent%20Markaziy%20Hukumat!5e0!3m2!1sen!2sus!4v1701306784039!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-7">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label for="name-field" class="pb-2">Ismingiz</label>
                            <input type="text" name="name" id="name-field" class="form-control" required="">
                        </div>

                        <div class="col-md-6">
                            <label for="email-field" class="pb-2">Emailingiz</label>
                            <input type="email" class="form-control" name="email" id="email-field" required="">
                        </div>

                        <div class="col-md-12">
                            <label for="subject-field" class="pb-2">Soha</label>
                            <input type="text" class="form-control" name="subject" id="subject-field" required="">
                        </div>

                        <div class="col-md-12">
                            <label for="message-field" class="pb-2">Xabar</label>
                            <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Xabar yuborish</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->
